<aside class="sidebar">
  <a class="sidebar-brand" routerLink="/patients">NutriCab</a>

  <nav class="sidebar-nav">
    <a routerLink="/patients" routerLinkActive="active" class="sidebar-link">
      <i class="fas fa-users"></i>
      Patients
    </a>

    <a routerLink="/appointments" routerLinkActive="active" class="sidebar-link">
      <i class="fas fa-calendar-check"></i>
      Appointments
    </a>

    <a routerLink="/consultations" routerLinkActive="active" class="sidebar-link">
      <i class="fas fa-stethoscope"></i>
      Consultations
    </a>

    <a routerLink="/meal-plans" routerLinkActive="active" class="sidebar-link">
      <i class="fas fa-utensils"></i>
      Meal-planning
    </a>

    <a routerLink="/users" routerLinkActive="active" class="sidebar-link">
      <i class="fas fa-user-shield"></i>
      Users
    </a>
  </nav>
</aside>