:host {
  height: 96px;
}

:host[hidden] {
  display: none;
}

.table-loading-cell {
  height: 96px;
  text-align: center;
  vertical-align: middle;
}

.spinner-border {
  width: 2rem;
  height: 2rem;
}
